.step-progress-container {
    margin: 50px 0;

    .step-item {
        flex: 1;

        .step-circle {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: var(--gray-200);
            color: #fff;
            margin: 0 auto;
            z-index: 2;
            position: relative;

            &.completed {
                background: var(--blue-default);
            }
        }

        .step-line {
            height: 4px;
            background: var(--gray-200);
            position: absolute;
            top: 14px;
            left: 50%;
            width: 100%;
            z-index: 1;

            &.completed {
                background: var(--blue-default);
            }
        }

        .step-label {
            margin-top: 10px;
            color: var(--blue-default);
            font-weight: 500;

            .step-icon {
                font-size: 18px;
                margin-bottom: 4px;
            }
        }
    }
}