// Application Section
.application-section .card {
  position: relative;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200) !important;
  border-radius: 8px;
  padding: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 0;
  overflow: hidden;

  .count-badge {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    background-color: var(--gray-600);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    height: 100%;
    width: 50%;
    background: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0) 100%);
    transform: skewX(-25deg);
    pointer-events: none;
    z-index: -1;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-2px);
    background: #0085FE;
    background: linear-gradient(180deg, rgba(0, 133, 254, 1) 0%, rgba(0, 91, 176, 1) 100%);

    h5,
    span {
      color: var(--gray-0) !important;
    }

    &::before {
      animation: shine 0.9s ease-in-out;
    }

    .count-badge {
      background: var(--gray-0);
      color: var(--gray-800);
    }
  }
}

@keyframes shine {
  0% {
    left: -75%;
  }

  100% {
    left: 125%;
  }
}

// Apply Citation Section
.submit-button-wrapper {
  position: sticky;
  bottom: 0;
  background: var(--background);
  padding: 8px 32px;
  border-top: 1px solid var(--gray-200);
  margin: 30px -32px 0;
}

.input-with-tooltip {
  position: relative;
  display: flex;
  align-items: center;

  .tooltip-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .info-circle {
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #ccc;
      color: #fff;
      text-align: center;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    .tooltip-text {
      visibility: hidden;
      display: block;
      width: max-content;
      max-width: 600px;
      background-color: var(--gray-700);
      color: #fff;
      text-align: left;
      padding: 6px 10px;
      border-radius: 4px;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 13px;
      // white-space: nowrap;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover .tooltip-text {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Thanks Section
.thanks-section {
  padding: 100px 0;
}

// Media query
@media (max-width: 575px) {
  .submit-button-wrapper {
    margin: 30px -20px 0;
    padding: 15px 18px;
  }

  .thanks-section {
    padding: 40px 0;

    h1 {
      font-size: 40px;
    }
  }
}