:root {
    --gray-0: #ffffff;
    --gray-50: #fafafa;
    --gray-100: #f1f1f1;
    --gray-200: #e3e3e3;
    --gray-300: #dfdfdf;
    --gray-400: #929292;
    --gray-500: #666666;
    --gray-600: #484848;
    --gray-700: #333333;
    --gray-800: #222222;
    --gray-900: #111111;
    --gray-1000: #000000;

    --background: #ffffff;
    --foreground: #484848;

    --muted: #e3e3e3;
    --muted-foreground: #929292;

    --primary-lighter: #e3e3e3;
    --primary-default: #111111;
    --primary-dark: #000000;
    --primary-foreground: #ffffff;

    --secondary-lighter: #dde3ff;
    --secondary-default: #3872fa;
    --secondary-dark: #432ad8;
    --secondary-foreground: #ffffff;

    --red-lighter: #f7d4d6;
    --red-default: #ee0000;
    --red-dark: #c50000;

    --orange-lighter: #ffefcf;
    --orange-default: #f5a623;
    --orange-dark: #ab570a;

    --blue-lighter: #d3e5ff;
    --blue-default: #0070f3;
    --blue-dark: #0761d1;

    --green-lighter: #b9f9cf;
    --green-default: #11a849;
    --green-dark: #11843c;

    --font-lexend-deca: "Lexend Deca", sans-serif;
    --font-inter: "Inter", sans-serif;
}