:root {
  --gray-0: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f1f1f1;
  --gray-200: #e3e3e3;
  --gray-300: #dfdfdf;
  --gray-400: #929292;
  --gray-500: #666666;
  --gray-600: #484848;
  --gray-700: #333333;
  --gray-800: #222222;
  --gray-900: #111111;
  --gray-1000: #000000;

  --background: #ffffff;

  --muted: #e3e3e3;

  --primary-default: #111111;
  --primary-dark: #000000;

  --secondary-default: #D6A36C;
  --secondary-dark: #432ad8;

  --blue-primary-clr: #0085FE;
  --blue-primary-dark-clr: #0168c9;

  --red-default: #d23820;
  --red-dark: #c50000;

  --orange-dark: #ab570a;

  --blue-default: #0070f3;
  --blue-primary-dark: #ab570a;

  --green-default: #11a849;
  --green-dark: #11843c;

  --font-lexend-deca: "Lexend Deca", sans-serif;
  --font-inter: "Inter", sans-serif;
}