.form-label {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-600);
}

.form-control,
.form-select {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-900);
  border: 2px solid var(--muted);
  background-color: transparent;
  padding: 11px 16px;
  transition: all 0.3s ease;
  width: 100%;

  &:focus {
    box-shadow: none;
    border: 2px solid var(--primary-default);
  }

  &::placeholder {
    color: var(--gray-400);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.form-control.invalid,
.form-select.invalid {
  border-color: var(--red-default) !important;
}