.filter-wrapper {
  .search-wrapper {
    button {
      left: 15px;
    }

    .form-control {
      padding: 7px 20px 7px 40px;
      min-height: 40px;
    }
  }

  .css-annyam-control,
  .css-1mwd2k4-control {
    min-height: 40px;
  }

  .css-hlgwow {
    padding: 0 8px;
  }
}
