.clarification-section {
    .filter-wrapper {
        .search-wrapper {
            button {
                left: 15px;
            }

            .form-control {
                padding: 7px 20px 7px 40px;
                min-height: 40px;
            }
        }

        .css-annyam-control,
        .css-1mwd2k4-control {
            min-height: 40px;
        }

        .css-hlgwow {
            padding: 0 8px;
        }
    }

    .main-table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border: 1px solid var(--gray-200);
        border-radius: 8px;

        thead {
            background-color: var(--gray-100);

            th {
                font-size: 12px;
                font-weight: 600;
                color: var(--gray-500);
                letter-spacing: 0.6px;
                padding: 12px;
                text-transform: uppercase;
                white-space: nowrap;
                border-bottom: 1px solid var(--gray-200);

                &:first-child {
                    border-top-left-radius: 8px;
                }

                &:last-child {
                    border-top-right-radius: 8px;
                }
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid var(--gray-200);

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }

                &:hover {
                    background-color: var(--gray-50);
                }
            }

            td {
                padding: 16px 12px;
                // min-width: 200px;
                max-width: 200px;
                vertical-align: middle;
                border-bottom: 1px solid var(--gray-200);

                p {
                    color: var(--gray-900);
                }

                .status-content {
                    &.pending {
                        span {
                            background-color: var(--orange-dark);
                        }

                        p {
                            color: var(--orange-dark);
                        }
                    }

                    &.approved {
                        span {
                            background-color: var(--green-dark);
                        }

                        p {
                            color: var(--green-dark);
                        }
                    }

                    &.reject {
                        span {
                            background-color: var(--red-dark);
                        }

                        p {
                            color: var(--red-dark);
                        }
                    }

                    span {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }

                .action-btn {
                    width: 32px;
                    height: 32px;
                    padding: 2px;
                    border: 1px solid var(--muted);
                    border-radius: 4px;
                    color: var(--gray-500);
                    transition: all 0.3s ease;

                    &:hover {
                        border: 1px solid var(--secondary-default);
                        color: var(--secondary-default);
                    }
                }
            }
        }
    }


}