.auth-section {
  // background: url("../../../../assets/Picture6.png") center/cover no-repeat;
  height: 100vh;
  overflow: auto;

  .auth-image-area {
    padding: 30px 30px 0;
  }

  .auth-form-wrapper {
    padding: 30px 30px 30px 0;

    .logo-area h3 {
      font-size: 35px;
      color: var(--gray-0);
      display: flex;
      justify-content: end;
      margin: 0 10px;
    }
  }

  .auth-form-area {
    padding: 30px;
    background-color: var(--background);
    border-radius: 20px;
    max-width: 600px;
    min-width: 500px;

    h2 {
      font-size: 30px;
    }

    form {
      margin-top: 10px;
    }

    .sign-up-text {
      color: var(--gray-400);

      a {
        color: var(--red-default);
      }
    }

    .nav-link {
      font-size: 14px;
      color: var(--blue-default);
      text-decoration: underline;
    }

    .submit-btn {
      font-size: 16px;
      font-weight: 500;
      color: var(--gray-0);
      background: var(--blue-primary-clr);
      border-radius: 5px;
      padding: 10px 20px;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--red-default);
      }
    }

    .mt-4 {
      margin-top: 10px !important;
    }
  }
}

// Media query
@media (max-width: 1199px) {
  .auth-section .auth-form-wrapper {
    padding: 30px 20px;

    .auth-form-area {
      padding: 35px;
      min-width: auto;

      h2 {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 480px) {
  .auth-section .auth-form-wrapper {
    padding: 20px 0;

    .logo-area h3 {
      font-size: 22px;
      color: var(--gray-0);
      margin: 0 5px;
    }

    .auth-form-area {
      padding: 20px;

      h2 {
        font-size: 25px;
      }

      form {
        margin-top: 20px;
      }
    }
  }
}