.profile-settings-section .submit-btn {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-0);
    background-color: var(--secondary-default);
    border-radius: 5px;
    padding: 9px 20px;
    min-width: 180px;
}